[Desktop Entry]
Name=CTK+ Widget Factory
Comment=A showcase for CTK+ widgets, designed for testing themes.
Exec=ctk3-widget-factory
Icon=ctk3-widget-factory
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;
