[Desktop Entry]
Name=CTK+ Icon Browser
Comment=An application that shows themed icons
Exec=ctk3-icon-browser
Icon=system-search
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;
