[Desktop Entry]
Name=CTK+ Demo
Comment=CTK+ code examples and demonstrations
Exec=ctk3-demo
Icon=ctk3-demo
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;CTK;
